$accent: #f1eee9;
$background: #fbfaf8;
$footer: #191919;
$footer-alt: #111111;

$title: #555555;
$dark-text: #8c8c8c;
$light-text: #FFF;

$cta: #998675;
$cta-shadow: #736357;

$max-width: 1170px;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$extra-bold: 800;
  

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: normal;
}

.text-break {
    display: block;
}

.cta {
    color: $light-text;
    font-weight: $semi-bold;
    text-transform: uppercase;
    background: $cta;
    border-bottom: 3px solid $cta-shadow;
    border-radius: 3px;
    padding: 16px 32px;
    text-decoration: none;
    align-self: flex-start;
    margin: 0 auto;
}

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &:after {
        content: '';
        background: rgba(17, 17, 17, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.hero__header {
    display: flex;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 40px;
}

.hero__branding {
    display: flex;
    align-items: center;
}

.hero__name {
    color: $light-text;
    font-size: 34px;
    font-weight: $regular;
}

.hero__nav {
    display: flex;
    margin-left: auto;

    ul {
        display: flex;
        list-style-type: none;
        column-gap: 30px;
        align-items: center;
    }

    a {
        color: $light-text;
        font-size: 14px;
        text-decoration: none;
        font-weight: $light;
    
        &:hover,
        &:focus {
            color: $cta;
        }
    }
}

.hero__slides {
    position: absolute;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

.visible {
    opacity: 1;
}

.hero__arrow {
    font-size: 7em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover,
    &:focus {
        opacity: 0.75;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light-text;

    h1 {
        font-size: 52px;
        font-weight: $extra-bold;
        padding-bottom: 10px;

        span {
            font-size: 36px;
            display: block;
            font-weight: $medium;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        padding-bottom: 40px;
    }
      
}

#leftArrow {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#rightArrow {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(50%, -50%);
}

.hero__circles {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
}

.hero__circle {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $accent;
    border: solid 2px $accent;
    transition: 1s ease-in;
}

.hero__dot {
    background: none;
    border: solid 2px $cta;
}

  